//Mobile
.modal {
  border: 3px solid #b23850;
  border-radius: 5px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 650px;
  margin: 10px auto;
  background-color: white;
  overflow-y: auto;
  .modal-close {
    float: right;
    margin: 10px;
    padding: 5px;
    background-color: #c4dbf6;
    border: 1px solid #c4dbf6;
    border-radius: 5px;
    font-size: 30px;
    padding: 0 8px;
  }
  .modal-page {
    .entry-title {
      width: 80%;
      margin: 8px 15px;
      font-family: "Bad Script", cursive;
    }
    .entry-date {
      margin: 8px 15px;
      font-family: "Montserrat", sans-serif;
    }
    .entry-tagslist {
      list-style: none;
      margin-left: 10px;
      li {
        display: inline-block;
        width: auto;
        background-color: #b23850;
        border: 1px solid #b23850;
        border-radius: 5px;
        padding: 5px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        margin: 5px;
      }
    }
    .entry-text {
      margin: 30px 20px;
      line-height: 22px;
      font-family: "Montserrat", sans-serif;
      white-space: pre-wrap;
    }
  }
}
.show-entry {
  visibility: visible;
}

//Laptop/desktop
@media screen and (min-width: 1280px) {
  .modal {
    top: 55%;
  }
}
