.logout-icon-div {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.logout-icon {
  width: 30px;
  height: 30px;
  color: white;
}
.logout-dropdown-container {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 35px;
  top: 10px;
  left: 5px;
  a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 3px;
    color: #b23850;
    display: block;
    letter-spacing: 1px;
  }
  input + span {
    cursor: pointer;
    display: block;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    display: block;
  }
  input:checked + span,
  input + span:hover {
    background-color: white;
  }
  input:checked + span {
    border-bottom: 0;
  }
  input {
    display: none;
  }
  input ~ .logout-menu {
    display: none;
  }
  input:checked ~ .logout-menu {
    display: block;
  }
  .logout-menu {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    border-top: 0;
    width: 90px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 3px;
    color: #b23850;
    letter-spacing: 1px;
    font-size: 14px;
  }
}

.ijournal-header {
  text-align: center;
  margin: 5px;
  a {
    font-family: "Bad Script", cursive;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}

//Tablet
@media screen and (min-width: 750px) {
  .logout-icon-div {
    width: 40px;
    height: 40px;
  }
  .logout-icon {
    width: 40px;
    height: 40px;
  }
  .logout-dropdown-container {
    top: 10px;
    left: 15px;
    a {
      font-size: 18px;
    }
    .logout-menu {
      width: 120px;
      font-size: 18px;
    }
  }
  .ijournal-header {
    margin: 8px 0 20px 0;
    a {
      font-size: 50px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .logout-icon-div {
    width: 50px;
    height: 50px;
  }
  .logout-icon {
    width: 50px;
    height: 50px;
  }
  .logout-dropdown-container {
    top: 10px;
    left: 15px;
    a {
      font-size: 18px;
    }
    .logout-menu {
      width: 120px;
      font-size: 18px;
    }
  }
  .ijournal-header {
    margin: 8px 0 0 0;
    border-bottom: 2px solid white;
    a {
      font-size: 60px;
    }
  }
}
