.ijournal-header {
  text-align: center;
  margin: 8px;
  a {
    font-family: "Caveat", cursive;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}
