.home-header {
  text-align: center;
  color: red;
}

.maindisplay-main {
  .my-journals {
    float: left;
    border: 1px solid black;
    border-left: none;
    width: 69%;
    height: 600px;
    .maindisplay-header {
      font-size: 28px;
      margin: 20px;
      text-align: center;
    }
    .addjournal-button {
      text-decoration: none;
      color: black;
      background-color: white;
      display: block;
      margin: 0 auto;
      width: 80px;
      padding: 8px;
      border: 1px solid black;
      &:hover {
        background-color: lightblue;
      }
    }
    .journals-flex {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        font-size: 24px;
        border: 1px solid black;
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 10px;
        margin: 15px;
        text-decoration: none;
        color: black;
        &:hover {
          background-color: lightblue;
        }
      }
    }
    .maindisplay-entries {
      .entry {
        width: 90%;
        border: 1px solid black;
        margin: 20px auto;
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: lightblue;
        }
      }
      .entry-error {
        text-align: center;
      }
    }
  }
}
