.maindisplay-header {
  font-family: "Bad Script", cursive;
  text-align: center;
  font-size: 28px;
  color: white;
}
.addjournal-button {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  position: absolute;
  display: block;
  top: 340px;
  left: 318px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid #b23850;
  padding: 10px;
  background-color: #b23850;
  border-radius: 30px;
  width: 80px;
  text-align: center;
  &:hover {
    border: 2px solid white;
  }
}
.journals-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
  .journal {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 0 8px 8px 0;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    .journal-title {
      background-color: white;
      padding: 5px;
      color: black;
      border-radius: 5px;
      display: inline-block;
      margin-top: 5px;
      width: 135px;
      font-size: 14px;
    }
  }
}
.no-entries,
.no-journals-message {
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  margin: 5px auto;
  line-height: 22px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
.dropdown-container {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 40px;
  left: 30px;
  top: 345px;
  background-color: #c4dbf6;
  border-radius: 5px;
  color: #b23850;
  input + span {
    cursor: pointer;
    display: block;
    padding: 5px;
    border-radius: 5px;
  }
  input:checked + span,
  input + span:hover {
    background-color: #c4dbf6;
  }
  input:checked + span {
    border-bottom: 0;
  }
  input {
    display: none;
  }
  input ~ .dropdown-menu {
    display: none;
  }
  input:checked ~ .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    border: 1px solid #ccc;
    background-color: #c4dbf6;
    border-top: 0;
    width: 130px;
    padding: 5px;
    position: absolute;
    left: 0;
    margin-top: -2px;
    font-size: 16px;
    color: black;
    a {
      display: block;
      text-decoration: none;
      padding: 5px;
      color: black;
      font-family: "Montserrat", sans-serif;
      &:hover {
        color: #fff;
      }
      &:visited,
      &:active {
        color: black;
      }
    }
    .delete-journal-span {
      padding: 8px 0;
      font-family: "Montserrat", sans-serif;
      margin: 5px 0;
      &:hover {
        color: #fff;
      }
    }
  }
}

.confirm-delete-message {
  position: absolute;
  background-color: #c4dbf6;
  border: 2px solid #b23850;
  border-radius: 5px;
  width: 70%;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 8px 15px;
  }
  button {
    padding: 10px;
    background-color: #b23850;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    width: 160px;
    letter-spacing: 1px;
    font-size: 14px;
    outline: none;
    display: block;
    margin: 10px auto;
  }
  .keep-journal {
    background-color: white;
    color: black;
    border: 2px solid #b23850;
    &:hover {
      border: 2px solid black;
    }
  }
  .delete-journal {
    border: 1px solid #b23850;
    margin-bottom: 20px;
    &:hover {
      border: 2px solid white;
    }
  }
}

.show-confirm {
  visibility: visible;
}

.hide-confirm {
  visibility: hidden;
}

//Tablet
@media screen and (min-width: 750px) {
  .maindisplay-div {
    margin-top: 50px;
  }
  .maindisplay-header {
    font-size: 35px;
  }
  .addjournal-button {
    width: 90px;
    font-size: 18px;
    position: static;
    float: right;
    right: 0;
    margin-top: -60px;
    margin-right: 75px;
  }
  .journals-flex {
    .journal {
      width: 250px;
      height: 250px;
      margin: 10px;
      .journal-title {
        width: 180px;
        font-size: 18px;
      }
    }
  }
  .no-entries,
  .no-journals-message {
    font-size: 18px;
  }
  .dropdown-container {
    width: 60px;
    font-size: 28px;
    top: 440px;
    left: 100px;
    .dropdown-menu {
      border: 1px solid #ccc;
      background-color: #c4dbf6;
      border-top: 0;
      width: 190px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .maindisplay-div {
    float: right;
    width: 59%;
    margin-top: 10px;
  }
  .maindisplay-header {
    margin-top: 0;
    font-size: 28px;
  }
  .addjournal-button {
    position: static;
    margin-top: -50px;
    margin-right: 110px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #b23850;
    padding: 10px;
    background-color: #b23850;
    border-radius: 30px;
    width: 80px;
    text-align: center;
    &:hover {
      border: 2px solid white;
    }
  }
  .journals-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
    .journal {
      border: 1px solid black;
      width: 150px;
      height: 150px;
      background-color: #c4dbf6;
      border-radius: 0 8px 8px 0;
      text-align: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      padding-top: 10px;
      margin-bottom: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      .journal-title {
        background-color: white;
        padding: 5px;
        color: black;
        border-radius: 5px;
        display: inline-block;
        margin-top: 5px;
        width: 135px;
        font-size: 14px;
      }
    }
  }
  .no-entries,
  .no-journals-message {
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    width: 70%;
    margin: 5px auto;
    line-height: 22px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .dropdown-container {
    position: static;
    float: left;
    text-align: center;
    width: 50px;
    background-color: #c4dbf6;
    border-radius: 5px;
    input + span {
      cursor: pointer;
      display: block;
      padding: 5px;
      border-radius: 5px;
    }
    input:checked + span,
    input + span:hover {
      background-color: #c4dbf6;
    }
    input:checked + span {
      border-bottom: 0;
    }
    input {
      display: none;
    }
    input ~ .dropdown-menu {
      display: none;
    }
    input:checked ~ .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      border: 1px solid #ccc;
      background-color: #c4dbf6;
      border-top: 0;
      width: 150px;
      padding: 5px;
      position: static;
      margin-top: -2px;
      font-size: 18px;
      a {
        display: block;
        text-decoration: none;
        padding: 5px;
        color: black;
        font-family: "Montserrat", sans-serif;
        &:hover {
          color: #fff;
        }
      }
      .delete-journal-span {
        padding: 8px 0;
        font-family: "Montserrat", sans-serif;
        margin: 5px 0;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

//Laptop/desktop
@media screen and (min-width: 1280px) {
  .journals-flex {
    .journal {
      width: 200px;
      height: 200px;
    }
  }
}
