.new-journal {
  .new-journal-form {
    width: 95%;
    margin: 20px auto;
    .journal-cover-preview {
      width: 200px;
      height: 200px;
      border: 2px solid #b23850;
      border-radius: 5px;
      text-align: center;
      margin: 10px auto;
      .preview-span {
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        color: #b23850;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 45%;
      }
    }
    ul {
      list-style: none;
      li {
        padding: 10px;
        margin: 15px;
        label {
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
          width: 70px;
          text-align: right;
          margin-right: 10px;
        }
        input {
          background-color: transparent;
          border-bottom: 3px solid #b23850;
          border-top: none;
          border-left: none;
          border-right: none;
          width: 250px;
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          outline: none;
          &::placeholder {
            font-family: "Montserrat", sans-serif;
            color: white;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }
        .image-tip {
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
          margin: 10px 0 0 80px;
          line-height: 24px;
        }
      }
      .new-journal-button {
        border: 1px solid #b23850;
        padding: 10px;
        display: block;
        margin: 40px auto;
        background-color: #b23850;
        border-radius: 30px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        width: 150px;
        font-size: 14px;
        &:hover {
          border: 2px solid white;
        }
      }
    }
    .journal-error {
      font-family: "Montserrat", sans-serif;
      color: #b23850;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1px;
      line-height: 20px;
      margin: 20px;
    }
  }
}

//Tablet
@media screen and (min-width: 750px) {
  .new-journal {
    .new-journal-form {
      width: 70%;
      .journal-cover-preview {
        margin-top: 30px;
        width: 350px;
        height: 350px;
        .preview-span {
          font-size: 18px;
        }
      }
      ul {
        li {
          padding: 18px;
          label {
            font-size: 18px;
            margin-right: 15px;
          }
          input {
            width: 320px;
            font-size: 18px;
            &::placeholder {
              font-size: 18px;
            }
          }
          .image-tip {
            font-size: 20px;
          }
        }
        .new-journal-button {
          padding: 15px;
          width: 200px;
          font-size: 18px;
        }
      }
      .journal-error {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .new-journal {
    .new-journal-form {
      width: 90%;
      margin: 50px auto;
      .journal-cover-preview {
        position: absolute;
        right: 100px;
        top: 200px;
        .preview-span {
          display: inline-block;
          font-family: "Montserrat", sans-serif;
          color: #b23850;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          margin-top: 45%;
        }
      }
      ul {
        li {
          padding: 10px;
          margin: 15px;
          label {
            font-size: 16px;
            display: inline-block;
            width: 70px;
          }
          input {
            width: 250px;
            font-size: 16px;
            &::placeholder {
              font-size: 16px;
            }
          }
          .image-tip {
            font-size: 14px;
            margin: 10px 0 0 80px;
          }
        }
        .new-journal-button {
          padding: 10px;
          margin-left: 130px;
          width: 150px;
          font-size: 14px;
        }
      }
      .journal-error {
        font-size: 14px;
        text-align: left;
        width: 250px;
        margin: 0 0 0 105px;
      }
    }
  }
}
