.new-entry-div {
  .new-entry-form {
    width: 95%;
    margin: 20px auto;
    ul {
      list-style: none;
      li {
        padding: 10px;
        margin: 15px;
        label {
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
          width: 70px;
          text-align: right;
          margin-right: 10px;
        }
        .new-entry-input {
          background-color: transparent;
          border-bottom: 3px solid #b23850;
          border-top: none;
          border-left: none;
          border-right: none;
          width: 250px;
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          outline: none;
          &::placeholder {
            font-family: "Montserrat", sans-serif;
            color: white;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }
        .new-entry-tags {
          display: inline-block;
        }
        .new-entry-text-label {
          display: block;
          width: auto;
          text-align: center;
          margin: 10px 0;
        }
        .new-entry-textarea {
          width: 350px;
          display: block;
          margin: 0 auto;
          border: 2px solid #b23850;
          outline: none;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          letter-spacing: 1px;
        }
      }
      .add-entry-button {
        border: 1px solid #b23850;
        padding: 10px;
        display: block;
        margin: 20px auto;
        background-color: #b23850;
        border-radius: 30px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        width: 130px;
        font-size: 14px;
        &:hover {
          border: 2px solid white;
        }
      }
    }
  }
}

//Tablet
@media screen and (min-width: 750px) {
  .new-entry-div {
    .new-entry-form {
      width: 70%;
      ul {
        li {
          padding: 18px;
          label {
            font-size: 22px;
            margin-right: 15px;
          }
          .new-entry-input {
            width: 320px;
            font-size: 22px;
            &::placeholder {
              font-size: 22px;
            }
          }
          .new-entry-text-label {
            font-size: 22px;
          }
          .new-entry-textarea {
            min-height: 350px;
            width: 500px;
            font-size: 22px;
          }
        }
        .add-entry-button {
          padding: 15px;
          margin: 20px auto;
          width: 180px;
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .new-entry-div {
    .new-entry-form {
      width: 90%;
      margin: 50px auto;
      ul {
        li {
          padding: 10px;
          margin: 15px;
          label {
            font-family: "Montserrat", sans-serif;
            color: white;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            display: inline-block;
            width: 70px;
            text-align: right;
            margin-right: 10px;
          }
          .new-entry-input {
            background-color: transparent;
            border-bottom: 3px solid #b23850;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 250px;
            font-family: "Montserrat", sans-serif;
            color: white;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            outline: none;
            &::placeholder {
              font-family: "Montserrat", sans-serif;
              color: white;
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 1px;
            }
          }
          .new-entry-tags {
            display: inline-block;
          }
          .new-entry-text-label {
            display: block;
            width: auto;
            text-align: center;
            margin: 10px 0;
            position: absolute;
            top: 200px;
            right: 120px;
          }
          .new-entry-textarea {
            position: absolute;
            top: 250px;
            right: 40px;
            width: 450px;
            display: block;
            margin: 0 auto;
            border: 2px solid #b23850;
            outline: none;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            letter-spacing: 1px;
          }
        }
        .add-entry-button {
          border: 1px solid #b23850;
          padding: 10px;
          display: block;
          margin: 20px 0px 0 150px;
          background-color: #b23850;
          border-radius: 30px;
          font-family: "Montserrat", sans-serif;
          color: white;
          font-weight: bold;
          letter-spacing: 1px;
          width: 130px;
          font-size: 14px;
          &:hover {
            border: 2px solid white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .new-entry-div {
    min-height: 500px;
    .new-entry-form {
      width: 90%;
      margin: 50px auto;
      ul {
        li {
          padding: 10px;
          margin: 15px;
          label {
            font-size: 16px;
            margin-right: 20px;
          }
          .new-entry-input {
            width: 400px;
            font-size: 16px;
            &::placeholder {
              font-size: 14px;
            }
          }
          .new-entry-tags {
            display: inline-block;
          }
          .new-entry-text-label {
            display: block;
            width: auto;
            text-align: center;
            margin: 10px 0;
            position: absolute;
            top: 200px;
            right: 230px;
            font-size: 16px;
          }
          .new-entry-textarea {
            top: 250px;
            right: 100px;
            width: 450px;
            margin: 0 auto;
            font-size: 16px;
          }
        }
        .add-entry-button {
          margin: 20px 0px 0 240px;
          width: 130px;
          font-size: 14px;
        }
      }
    }
  }
}
