.new-journal-main {
  .new-header {
    font-family: "Bad Script", cursive;
    color: white;
    letter-spacing: 1px;
    text-align: center;
  }
  .edit-journal-form {
    width: 95%;
    margin: 20px auto;
    ul {
      list-style: none;
      li {
        padding: 10px;
        margin: 15px;
        label {
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
          width: 70px;
          text-align: right;
          margin-right: 10px;
        }
        input {
          background-color: transparent;
          border-bottom: 3px solid #b23850;
          border-top: none;
          border-left: none;
          border-right: none;
          width: 250px;
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          outline: none;
          &::placeholder {
            color: lightgray;
            font-size: 14px;
          }
        }
      }
      .journal-cover-preview {
        width: 200px;
        height: 200px;
        border: 2px solid #b23850;
        border-radius: 5px;
        text-align: center;
        margin: 10px auto;
        .preview-span {
          display: inline-block;
          font-family: "Montserrat", sans-serif;
          color: #b23850;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          margin-top: 45%;
        }
      }
      .image-tip {
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 10px 0 0 80px;
      }
      .edit-error {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: #b23850;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 15px 0 0 80px;
      }
      .edit-journal-button {
        border: 1px solid #b23850;
        padding: 10px;
        display: block;
        margin: 40px auto;
        background-color: #b23850;
        border-radius: 30px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        width: 170px;
        font-size: 14px;
        &:hover {
          border: 2px solid white;
        }
      }
    }
  }
}

//Tablet
@media screen and (min-width: 750px) {
  .new-journal-main {
    .new-header {
      font-size: 34px;
    }
    .edit-journal-form {
      width: 60%;
      margin: 20px auto;
      ul {
        li {
          padding: 15px;
          margin: 15px;
          label {
            font-size: 18px;
          }
          input {
            width: 300px;
            font-size: 18px;
          }
        }
        .journal-cover-preview {
          margin-top: 30px;
          width: 350px;
          height: 350px;
          .preview-span {
            font-size: 18px;
          }
        }
        .image-tip {
          font-size: 18px;
        }
        .edit-error {
          font-size: 20px;
        }
        .edit-journal-button {
          padding: 15px;
          width: 210px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .new-journal-main {
    .edit-journal-form {
      width: 90%;
      margin: 20px auto;
      ul {
        list-style: none;
        li {
          padding: 10px;
          margin: 15px;
          label {
            font-family: "Montserrat", sans-serif;
            color: white;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            display: inline-block;
            width: 70px;
            text-align: right;
            margin-right: 10px;
          }
          input {
            background-color: transparent;
            border-bottom: 3px solid #b23850;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 250px;
            font-family: "Montserrat", sans-serif;
            color: white;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            outline: none;
          }
        }
        .journal-cover-preview {
          position: absolute;
          width: 350px;
          height: 350px;
          top: 200px;
          right: 100px;
          margin: 10px auto;
          .preview-span {
            display: inline-block;
            font-family: "Montserrat", sans-serif;
            color: #b23850;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 45%;
          }
        }
        .image-tip {
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          margin: 10px 0 0 80px;
        }
        .edit-error {
          font-size: 16px;
          margin: 15px 0 0 80px;
          width: 300px;
        }
        .edit-journal-button {
          padding: 10px;
          margin: 40px 0 0 120px;
          width: 170px;
          font-size: 14px;
        }
      }
    }
  }
}

//Laptop/desktop
@media screen and (min-width: 1280px) {
  .new-journal-main {
    .new-header {
      margin-top: 10px;
    }
    .edit-journal-form {
      width: 90%;
      margin: 50px auto;
      ul {
        list-style: none;
        li {
          padding: 10px;
          margin: 15px 70px;
          label {
            font-size: 16px;
            width: 70px;
            margin-right: 20px;
          }
          input {
            width: 400px;
            font-size: 16px;
          }
        }
        .journal-cover-preview {
          top: 210px;
          right: 170px;
          margin: 10px auto;
          .preview-span {
            font-size: 16px;
          }
        }
        .image-tip {
          font-size: 14px;
        }
        .edit-error {
          font-size: 14px;
          margin: 15px 0 0 85px;
          width: 400px;
        }
        .edit-journal-button {
          padding: 10px;
          margin: 40px 0 0 260px;
          width: 170px;
          font-size: 14px;
        }
      }
    }
  }
}
