.new-journal-main {
  border: 1px solid blue;
  height: 550px;
  h2 {
    text-align: center;
    margin: 30px;
  }
  form {
    .journal-cover-preview {
      border: 1px solid black;
      width: 400px;
      height: 400px;
      margin-left: 150px;
      margin-right: 100px;
      float: left;
    }
    ul {
      display: flex;
      width: 400px;
      list-style: none;
      flex-direction: column;
      li {
        padding: 5px;
        margin: 10px;
        .image-tip {
          padding: 3px;
          margin-left: 120px;
        }
        label {
          display: inline-block;
          width: 120px;
        }
        input {
          padding: 8px;
        }
      }
      .new-journal-button {
        margin: 30px auto;
        background-color: white;
        padding: 8px;
        border: 1px solid black;
        cursor: pointer;
        text-align: center;
        width: 120px;
        &:hover {
          background-color: lightblue;
        }
      }
    }
  }
}
