.sidebar {
  margin-top: 10px;
  .sidebar-header {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }
  .sidebar-form {
    margin-top: 8px;
    min-height: 280px;
    .sidebar-ul {
      list-style: none;
      float: left;
      .sidebar-li {
        padding: 5px;
        .sidebar-label {
          font-family: "Montserrat", sans-serif;
          color: white;
          margin: 3px;
          padding: 0 5px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
          width: 80px;
          text-align: right;
        }
        .sidebar-select {
          background-color: transparent;
          border-bottom: 3px solid #b23850;
          border-top: none;
          border-left: none;
          border-right: none;
          font-family: "Montserrat", sans-serif;
          color: white;
          letter-spacing: 1px;
          font-weight: bold;
          outline: none;
          padding: 3px;
          font-size: 14px;
          min-width: 200px;
        }
      }
      .tags-li {
        padding: 0;
        margin: 0;
      }
      .tagsinput-div {
        display: inline-block;
      }
    }
    .sidebar-button {
      border: 1px solid #b23850;
      padding: 10px;
      display: block;
      position: relative;
      top: 60px;
      margin: 20px auto;
      background-color: #b23850;
      border-radius: 30px;
      font-family: "Montserrat", sans-serif;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      width: 80px;
      font-size: 14px;
      outline: none;
    }
  }
}

@media screen and (min-width: 750px) {
  .sidebar {
    .sidebar-header {
      font-size: 24px;
    }
    .sidebar-form {
      width: 80%;
      margin: 20px auto;
      .sidebar-ul {
        margin-right: 30px;
        .sidebar-li {
          padding: 10px;
          .sidebar-label {
            margin: 5px;
            padding: 0 10px;
            width: 120px;
            font-size: 22px;
          }
          .sidebar-select {
            font-size: 22px;
            min-width: 300px;
          }
        }
      }
      .sidebar-button {
        float: right;
        width: 90px;
        font-size: 20px;
      }
    }
  }
}
