.sidebar {
  margin-top: 20px;
  .sidebar-header {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }
  .sidebar-form {
    margin: 8px;
    .sidebar-ul {
      margin: 0 auto;
      list-style: none;
      text-align: center;
      .sidebar-li {
        padding: 5px;
        .sidebar-label {
          font-family: "Montserrat", sans-serif;
          color: white;
          margin: 3px;
          padding: 0 5px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
          width: 80px;
        }
        .sidebar-select {
          background-color: #c4dbf6;
          font-family: "Montserrat", sans-serif;
          color: #b23850;
          font-weight: bold;
          border-radius: 30px;
          outline: none;
          padding: 3px;
          font-size: 14px;
          min-width: 200px;
        }
      }
      .tags-li {
        padding: 0;
        margin: 0;
      }
      .tagsinput-div {
        display: inline-block;
      }
    }
    .sidebar-button {
      border: 1px solid #b23850;
      padding: 10px;
      display: block;
      margin: 20px auto;
      background-color: #b23850;
      border-radius: 30px;
      font-family: "Montserrat", sans-serif;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}
