/*Fonts & colors
Montserrat: font-family: "Montserrat", sans-serif;
Bad Script: font-family: "Bad Script", cursive;
Dark blue: #3b8beb
Light blue: #c4dbf6
Red: #b23850
*/

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Montserrat&family=Mr+Dafoe&family=Raleway&family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://i.imgur.com/KwNBROd.png");
  background-attachment: fixed;
  @import "landing";
  @import "header";
  @import "sidebar";
  @import "tagsinput";
  @import "maindisplay";
  @import "entrydisplay";
  @import "entrymodal";
  @import "new";
  @import "newentry";
  @import "newjournal";
}

//Tablet size and up
@media screen and (min-width: 1000px) {
  body {
    background-size: cover;
  }
}
